@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    table{
        width:100%;
    }
    .accounts_actions {
        width:10rem;
    }
</style>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Active accounts</h6>
    </div>
    <p>
        Message:  @Model.Message
    </p>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Is Online</th>
                        <th>Is scheduled</th>
                        <th class="accounts_actions">
                            Action
                         @*    <a href="#" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-play"></i>
                                </span>
                            </a>
                            <a href="#" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-stop"></i>
                                </span>
                            </a> *@
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.Accounts)
                    {
                        <tr>
                            <td>@account.Name </td>
                            <td>@account.IsOnline</td>
                            <td>@account.NextSchedule</td>
                            <td class="accounts_actions">
                                <a href="#" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </a>
                                <a href="#" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-stop"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
