@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Accounts</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Active accounts</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Is Online</th>
                        <th>Is scheduled</th>
                        <th>Action</th>
                    </tr>
                </thead>
             @*    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Is Online</th>
                        <th>Is scheduled</th>
                        <th>Action</th>
                    </tr>
                </tfoot> *@
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>Online</td>
                        <td>Scheduled</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-stop"></i>
                                </span>
                                <span class="text">Split Button Danger</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Account 2</td>
                        <td>Online</td>
                        <td>Static</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-stop"></i>
                                </span>
                                <span class="text">Split Button Danger</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
