@page
@model Telegram.Automation.Web.Pages.ScheduleModel

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" ></script>
<script src="~/Scripts/app.js" type="text/javascript"></script>
<script type="text/javascript">initPage("Schedule")</script>



<div id="Schedule" style="height:100vh;"></div>
