@page
@{
    ViewData["Title"] = "Schedule";
}
@model Telegram.Automation.Web.Pages.ScheduleModel
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var initData = @Model.InitData;
</script>
<script type="text/javascript">initPage("Schedule", initData)</script>

<div class="card border-left-primary" style="margin-bottom:1rem">
    <div class="card-body">
        Total scheduled accounts: <span id="totalCount"> </span>
    </div>
</div>
@* 
    <div>
    <div class="input-group" style="width: 30rem; margin:1rem;">
        <input class="form-control bg-light" placeholder="Concurrent accounts" type="text" name="bot-concurrent" id="bot-concurrent" />
        <div class="input-group-append">
            <a href="#" class="btn btn-secondary btn-" onclick="">
                Reschedule
            </a>
        </div>
    </div>
</div> *@
<div id="Schedule"></div>
